html {
    scroll-behavior: smooth;
}

.content-center>h2,
.content-center>p {
    padding-left: 30px;
}

@media (max-width: 600px) {
    .marketing>.row {
        text-align: center;
    }
    .rounded-circle {
        margin: 0 auto;
    }
    .content-center>h2,
    .content-center>p {
        padding-left: 10px;
    }
    .col-xs-12>.card {
        margin-bottom: 10px;
    }
    .container.row {
        width: 350px;
        margin-left: -25px;
    }
}

.bg-gray {
    background-color: rgba(120, 119, 119, 0.2);
}

.lead {
    border-left: 2px solid #e52224;
    padding-left: 16px;
    padding-right: 16px;
    text-align: justify;
}

.advice-box {
    box-shadow: 7px 6px 10px grey;
    width: 140px;
    height: 140px;
    border: 1px solid #e52224;
    margin-bottom: 15px;
}

.slider {
    box-shadow: 10px 10px 10px grey;
}

.footer {
    margin: 0;
    padding: 40px 35px;
    background-color: #262626;
    color: white;
    text-align: center;
}

main {
    margin-top: 115px;
}

.card img {
    height: 190px;
}

.card {
    border: 1px solid black;
}

.headerBrand {
    width: 70px;
    height: 70px;
}

.rounded-circle img {
    margin-left: 4px;
}

.newsTitle {
    font-weight: bold;
}

.footer .row a {
    color: white;
}

.footer .row a:hover {
    color: lightgreen;
}

:target:before {
    content: "";
    display: block;
    height: 100px;
    margin: -100px 0 0;
}

#select-box {
    text-align-last: center;
    height: 67px;
}

#search {
    text-align: center;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #bdbdbd;
}

.card-title {
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-text {
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#loader {
    padding-top: 10px;
    padding-bottom: 10px;
    visibility: hidden;
}